In [2]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv('Housing.csv')

In [4]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
df.replace(['no','yes','unfurnished','semi-furnished','furnished'],[0,1,0,0.5,1],inplace=True)

In [7]:
x = df[['area' ,'bedrooms' ,'bathrooms', 'stories', 'mainroad' ,'guestroom' ,'basement' ,'hotwaterheating' ,'airconditioning' ,'parking' ,'prefarea' ,'furnishingstatus']]
y = df['price']

In [8]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [10]:
len(x_train)

436

In [11]:
x_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
399,7350,2,1,1,1,0,0,0,0,1,0,0.5
228,3630,3,1,2,1,0,0,0,0,2,0,0.5
483,6615,3,1,2,1,0,0,0,0,0,0,0.5
286,2787,3,1,1,1,0,1,0,0,0,1,1.0
171,10269,3,1,1,1,0,0,0,0,1,1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...
441,4370,3,1,2,1,0,0,0,0,0,0,0.0
432,6060,3,1,1,1,1,1,0,0,0,0,1.0
223,6321,3,1,2,1,0,1,0,1,1,0,1.0
329,3960,3,1,2,1,0,0,0,0,0,0,1.0
511,3180,3,1,1,0,0,0,0,0,0,0,0.0

In [12]:
len(x_test)

109

In [13]:
model = LinearRegression()

In [14]:
model.fit(np.array([x_train]).reshape(-1,12),y_train)

LinearRegression()

In [15]:
y_pred = model.predict(np.array(x_test).reshape(-1,12))

In [16]:
r2_score(y_test,y_pred)

0.6741819287604807

In [17]:
model.predict([[7420,4,2,3,1,0,0,0,1,2,1,1.0]])

array([8152016.36579513])

In [18]:
with open('model.pkl','wb') as files:
    pickle.dump(model,files)